# Import utilities from Derek Selander
command script import ~/Debugger-LLDB/SelanderDerek/lldb_commands/dslldb.py

# Import FABR scripts for stack dumps
command script import ~/Debugger-LLDB/FABR/lldb_stackutils.py

# FABR
# Some default settings for our environment
#
# We revert some of the settings established by the selander scripts.
# See file SelanderDerek/lldb_commands/settings.txt

# This allows for setting breakpoints via option
#   -n <fun name>
# after the function's prolog.
# This results in a behavior similar to gdb.
#
# On the other hand, if you set 'target.skip-prologue true' then
# the breakpoint will be on the very first instruction of the prolog

settings set target.skip-prologue true

#
# Set target.x86-disassembly-flavor (enum)
# Available completions:
#	intel
#	default
#	att    (== default)

settings set target.x86-disassembly-flavor att 

